openapi: 3.1.0
info:
  title: TVCMall Customer MCP HTTP API
  version: 0.1.0-source-summary
  description: |
    Consolidated OpenAPI summary for the local TVCMall MCP server. This file
    is derived from the external source documents in docs/external/*.openapi.yaml.
    Source response schemas are currently loose, so clients map common response
    shapes into stable MCP contracts.
servers:
  - url: https://api.tvcmall.com
    description: Production example
tags:
  - name: Auth
  - name: Products
  - name: Orders
  - name: Points
  - name: Logistics
security: []
paths:
  /user/login:
    post:
      tags: [Auth]
      summary: 登录
      operationId: loginForMcp
      parameters:
        - $ref: '#/components/parameters/LoginAuthorizationHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            example:
              email: customer@example.com
              password: '<password>'
              rememberme: true
      responses:
        '200':
          description: Login response. Source schema is empty; client accepts common token payload shapes.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /v3/product/list/search/mapping:
    get:
      tags: [Products]
      summary: 关键字搜索商品
      operationId: searchProducts
      parameters:
        - $ref: '#/components/parameters/AccessTokenAuthorizationHeader'
        - name: body
          in: query
          required: false
          schema:
            type: string
          description: JSON string with pageindex, pagesize, keywords and search flags.
          example: '{"pageindex":1,"pagesize":40,"sort":"default","attributes":[],"catalogCodes":[],"purchaseTag":"0","keywords":"iphone case","url":"/search","noAttr":true,"fromAlgolia":true}'
      responses:
        '200':
          description: Product search response. Source schema is empty; client maps common list fields.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /v3/productdetail/detail:
    get:
      tags: [Products]
      summary: 商详-详情
      operationId: getProductDetail
      parameters:
        - $ref: '#/components/parameters/AccessTokenAuthorizationHeader'
        - name: body
          in: query
          required: false
          schema:
            type: string
          description: JSON string with product detail URL.
          example: '{"url":"/details/example-product.html"}'
      responses:
        '200':
          description: Product detail response. Source schema is empty; client maps common product fields.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /v3/user/getorders:
    post:
      tags: [Orders]
      summary: 个人中心-订单列表
      operationId: listOrders
      parameters:
        - $ref: '#/components/parameters/AccessTokenAuthorizationHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListOrdersRequest'
            example:
              keywords: ''
              pageindex: 1
              pagesize: 10
              status: All
              withdetail: true
      responses:
        '200':
          description: Order list response. Source schema is empty; client maps common order list fields.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /v3/order/detail:
    post:
      tags: [Orders]
      summary: 个人中心-订单详情
      operationId: getOrderDetail
      parameters:
        - $ref: '#/components/parameters/AccessTokenAuthorizationHeader'
        - name: orderId
          in: query
          required: false
          schema:
            type: string
          example: M24072400005
      responses:
        '200':
          description: Order detail response. Source schema is empty; client maps common order fields.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /order/getlogisticstracking:
    get:
      tags: [Logistics]
      summary: 物流和运费查询
      operationId: getLogisticsTracking
      parameters:
        - $ref: '#/components/parameters/AccessTokenAuthorizationHeader'
        - name: orderId
          in: query
          required: false
          schema:
            type: string
          example: V26030900012
      responses:
        '200':
          description: Logistics tracking and shipping fee response. Source schema is empty; clients map common logistics, tracking and shipping fields.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /m/user/points/stat:
    get:
      tags: [Points]
      summary: 个人中心-积分
      operationId: getCustomerPoints
      parameters:
        - $ref: '#/components/parameters/AccessTokenAuthorizationHeader'
      responses:
        '200':
          description: Customer points response. Source schema is empty; client maps common points fields.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /v3/user/points/list:
    get:
      tags: [Points]
      summary: 个人中心-积分记录
      operationId: listPointRecords
      parameters:
        - $ref: '#/components/parameters/AccessTokenAuthorizationHeader'
        - name: pageindex
          in: query
          required: false
          schema:
            type: string
          example: '1'
        - name: pagesize
          in: query
          required: false
          schema:
            type: string
          example: '10'
      responses:
        '200':
          description: Points records response. Source schema is empty; client maps common record list fields.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
components:
  parameters:
    LoginAuthorizationHeader:
      name: Authorization
      in: header
      required: false
      description: Login API authorization header from deployment config. Do not commit real values.
      schema:
        type: string
      example: login-api-authorization-example
    AccessTokenAuthorizationHeader:
      name: Authorization
      in: header
      required: true
      description: Login response token. Runtime clients set this from StoredAuthSession.accessToken.
      schema:
        type: string
      example: login-access-token-example
  schemas:
    LoginRequest:
      type: object
      required: [email, password, rememberme]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
        rememberme:
          type: boolean
      additionalProperties: false
    ListOrdersRequest:
      type: object
      required: [keywords, pageindex, pagesize, status, withdetail]
      properties:
        keywords:
          type: string
        pageindex:
          type: integer
          minimum: 1
        pagesize:
          type: integer
          minimum: 1
          maximum: 50
        status:
          type: string
        withdetail:
          type: boolean
      additionalProperties: false
